<div class="row">
  <div class="col-md-6">
    <h1 class="">{{ author.name }}</h1>
  </div>
  <div class="col-md-6 text-right">
    <a ng-href="#/authors" class="btn btn-default"> Back </a>
    <a ng-href="#/authors/{{ author.id }}/edit" class="btn btn-primary"> Edit </a>
    <a class="btn btn-danger" ng-click="delete(author)">Delete</a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6 text-right">
    <a ng-href="#/authors/{{ author.id }}/books/new" class="btn btn-primary btn-xs"> + Book </a>
  </div>
</div>
<table class="table">
  <tbody>
    <tr>
      <th>Title</th>
      <th width="100"></th>
    </tr>
  </tbody>
  <tbody>
    <tr ng-repeat="book in books">
      <td>
        {{ book.name }}
      </td>
      <td>
        <a class="btn btn-default btn-xs" ng-href="#/authors/{{ author.id }}/books/{{ book.id }}/edit">Edit</a>
        <a class="btn btn-danger btn-xs" ng-click="deleteBook(book)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
